# SPDX-License-Identifier: AGPL-3.0-or-later
# SYNAPSE CHANNEL — runtime dependencies.
# The bus runs on the standard library plus one transport dependency. The
# authoritative declaration is in pyproject.toml; this file mirrors it for
# pip-based installs.
websockets>=13.0
