# SPDX-License-Identifier: AGPL-3.0-or-later
# Commercial license available
# © Concepts 1996–2026 Miroslav Šotek. All rights reserved.
# © Code 2020–2026 Miroslav Šotek. All rights reserved.
# ORCID: 0009-0009-3560-0851
# Contact: www.anulum.li | protoscience@anulum.li
# SYNAPSE CHANNEL — hash-locked runtime dependency for the publish smoke venvs
# The built wheel/sdist installs with --no-deps; this lock supplies the sole
# runtime dependency hash-pinned, so the smoke steps fetch nothing unpinned.
websockets==16.0 \
    --hash=sha256:9b5aca38b67492ef518a8ab76851862488a478602229112c4b0d58d63a7a4d5c
