# SPDX-License-Identifier: AGPL-3.0-or-later
# Commercial license available
# © Concepts 1996–2026 Miroslav Šotek. All rights reserved.
# © Code 2020–2026 Miroslav Šotek. All rights reserved.
# ORCID: 0009-0009-3560-0851
# Contact: www.anulum.li | protoscience@anulum.li
# SYNAPSE CHANNEL — exact hash-locked base runtime closure for the container image
# Regenerate from the project metadata with:
#   uv pip compile pyproject.toml --universal --generate-hashes \
#     --python-version 3.13 -o .github/requirements/requirements-container.txt
sqlcipher3-binary==0.6.0 \
    --hash=sha256:8a6afbdef7cbbb33b1228ce96edc1bfe7f15bdf2a5e8bdab87261ab52e4111e6
websockets==16.0 \
    --hash=sha256:95724e638f0f9c350bb1c2b0a7ad0e83d9cc0c9259f3ea94e40d7b02a2179ae5
