# SPDX-License-Identifier: AGPL-3.0-or-later
# Commercial license available
# © Concepts 1996–2026 Miroslav Šotek. All rights reserved.
# © Code 2020–2026 Miroslav Šotek. All rights reserved.
# ORCID: 0009-0009-3560-0851
# Contact: www.anulum.li | protoscience@anulum.li
# SYNAPSE CHANNEL — deterministic Linux CPython 3.12 PKCS#11 CI bootstrap
# Keep the version and SHA-256 aligned with requirements-dev.txt. The direct
# artifact avoids a transient empty PyPI Simple-index response while retaining
# hash verification; the complete universal lock remains authoritative.
python-pkcs11 @ https://files.pythonhosted.org/packages/e7/9b/526ababb217fe70f5647bf66b9bc569fdf1ac158f4ed8d3136de15bdd811/python_pkcs11-0.10.0-cp312-cp312-manylinux2014_x86_64.manylinux_2_17_x86_64.manylinux_2_28_x86_64.whl \
    --hash=sha256:c741453966ed6db462c443d30ed7ef048e33ba95f5eb68ee1e93f565ff32105b
