.github/**
.vscode/**
.vscode-test/**
.vscode-test-cache/**
coverage/**
dist/**
node_modules/**
out-test/**
scripts/**
src/**
test/**
**/*.ts
package-lock.json
tsconfig.json
tsconfig.integration.json
